h1 {
    padding: 20px 0 30px;
}

body {
    background-color: #cae4db;
}

p {
    display: inline-block;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #00303f;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h3 {
    color: #00303f;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

h4 {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}


/**************************************
            Add Form
**************************************/

.addForm {
    background-color: #7b979b;
    padding: 20px;
    border-radius: 2px;
}

.form-control {
    margin-top: 10px;
}

.btn-primary {
    margin-top: 10px;
}

.addBtn {
    background-color: #00303f;
    border: none;
}


/**************************************
            List Items
**************************************/

.taskList .glyphicon {
    font-size: 20px;
}

.list-group {
    margin: 5px;
    border-bottom: 3px solid #afadad;
}

.list-group:last-of-type {
    border-bottom: none;
}

.list-group-item {
    transition: all linear 0.5s;
}

.taskName {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

.dueDate {
    display: block;
    margin-left: 35px;
    font-size: 14px;
}

.notes {
    display: block;
    margin-left: 35px;
    font-size: 14px;
}

.task-add {
    transition: all 0.5s ease;
    opacity: 1.0;
    left: 0;
}

.checkboxes {
    margin-top: 4px;
    font-size: 20px;
    cursor: pointer;
}

.editForm {
    display: inline;
}

.deleteBtn {
    border: none;
    background: none;
    float: right;
}

.removeBtn {
    border: none;
    background: none;
    color: #c7c5c5;
}

.removeBtn:hover {
    color: #414141;
}


/**************************************
            Edit Form
**************************************/

.editBtn {
    border: none;
    background: none;
    float: right;
    padding-right: 20px;
}

.taskEdit, .dateEdit {
    margin: 0 0 5px;
}

.updateBtn {
    border: none;
    background: none;
    float: right;
    margin-right: 12px;
}


/**************************************
            Task States
**************************************/

.completed {
    display: block;
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    border-radius: 10px;
}

.completed .glyphicon:hover {
    color: #202020;
}


.high {
    display: block;
    background-color: #ffe6e6;
    border: 2px solid #892303;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #2d0202;
}

.high .glyphicon {
    color: #892303;
}

.high .glyphicon:hover {
    color: #2d0202;
}

.medium {
    display: block;
    background-color: #fffee1;
    border: 2px solid #c99502;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #2d2801;
}

.medium .glyphicon {
    color: #c99502;
}

.medium .glyphicon:hover {
    color: #2d2801;
}

.low {
    display: block;
    background-color: #d2f9d2;
    border: 2px solid #193a11;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: #081e01;
}

.low .glyphicon {
    color: #193a11;
}

.low .glyphicon:hover {
    color: #081e01;
}


/**************************************
            Animations
**************************************/

.slide {
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    right: 0;
    opacity: 1.0;
}

.slide.ng-enter {
    right: 100px;
    opacity: 0.0;
}

.slide.ng-enter.ng-enter-active {
    right: 0;
    opacity: 1.0;
}

.slide.ng-leave {
    opacity: 1.0;
}

.slide.ng-leave.ng-leave-active {
    opacity: 0.0;
}

.slide.ng-move {
    opacity: 1.0;
}

.slide.ng-move.ng-move-active {
    opacity: 0.0;
}


/**************************************
            Media Queries
**************************************/

@media screen and (max-width: 768px) {
    .taskList .glyphicon {
        font-size: 30px;
    }
    .taskList i {
        font-size: 30px;
    }
    .dueDate {
        margin-left: 5px;
    }
    .notes {
        margin-left: 5px;
    }
}
